@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  /* color */
  --body-color: #808080;
  --white: #ffffff;
  --dark-color: #202c36;
  --light-dark: #2b3844;
  --text-color: #111517;

  /* fonts */

  --italic: "NunitoSans-italic";
  --variable: "NunitoSans-VariableFont";
}

/* HEADER START */

/* NAVBAR */

.header__nav {
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.header__logo {
  color: var(--text-color);
  font-family: var(--italic);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.header__search__inp {
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}
.header__search__selcet {
  border-radius: 5px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

/* ABOUT PAGE */

.header__back__btn {
  margin-top: 90px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 32px;
}
.header__back__btn a {
  color: var(--text-color);
  font-family: var(--variable);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}
.main__countries__desc h2 {
  color: var(--text-color);
  font-family: var(--italic);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.main__border__countries a {
  border-radius: 2px;
  background: #fff;
  padding: 6px 30px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  font-family: var(--variable);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* HEADER END */

/* MAIN START */

.main__card__desc h5 {
  color: var(--text-color);
  font-family: var(--italic);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}
.card {
  border: none;
  background: none;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}

/* MAIN END */

body.dark-mode {
  background: var(--dark-color);
  color: var(--white);
  .header__nav {
    background: var(--light-dark);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  }
  .header__nav h1 {
    color: var(--white);
  }
  .header__lists li select {
    border: none;
    background: var(--light-dark);
    color: var(--white);
  }
  .form-select option {
    background: none;
  }
  .header__search span {
    background: none;
    border: none;
    color: var(--white);
  }
  .header__search input {
    border-radius: 5px;
    border: none;
    background: var(--light-dark);
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    color: var(--white);
  }
  .header__search input::placeholder {
    color: var(--white);
  }
  .header__search__selcet select {
    border: none;
    border-radius: 5px;
    background: var(--light-dark);
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    color: var(--white);
  }
  .card {
    border-radius: 5px;
    background: var(--light-dark);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  }
  .card p {
    color: var(--white);
  }
  .card h5 {
    color: var(--white);
  }
  .header__back__btn {
    width: 136px;
    border-radius: 6px;
    background: var(--light-dark);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
  }
  .header__back__btn a {
    color: var(--white);
  }
  .main__countries__desc h2 {
    color: var(--white);
  }
  .main__border__countries a {
    border-radius: 2px;
    background: var(--light-dark);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    color: var(--white);
  }
}
